
<!DOCTYPE html>
<html>
  <head>
    <meta id="my-data" n="{{n}}" e="{{e}}" d="{{d}}">
    <link rel="stylesheet" href="./dist/style-home.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main/style-home.css') }}">
    <link rel="icon" type="image/x-icon" href="/static/icon.png">
    <title>Home</title>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript"
      src="http://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>

<script src="../static/CCA.js"></script>

  </head>
  <body>
    <div class="logo">
      <a href="/">
        <h1>RSA<span> World</span></h1>
      </a>    
    </div>

    <p style = "color:white; font-size:1.1rem; text-align: center; font-family: 'Special Elite', cursive;">You can now sign and verify messages associated with your public key  </p>

    <div class="content">

      <div class="flex">
        <form action="" method="POST" id="RSA_input">
          <div class="encrypt-device">
            <label for="plaintext"><b>Verify Signature</b></label>
            <textarea type="text" placeholder="Big Mac Sauce" name="plaintext" id="plaintext" rows="9"></textarea>
            <input class="action"  type="submit" name="encrypt" value="Encrypt" style = "font-size:25px"></input>
          </div>
        </form>
          <form action="" method="POST" id="RSA_input">
          <div class="decrypt-device">
          <label for="ciphertext"><b>Sign a Message</b></label>
          <textarea type="text" placeholder="Be Careful." name="ciphertext" id="ciphertext" rows="9"></textarea>
          <input class="action"  type="submit" name="decrypt" value="Decrypt" style = "font-size:25px"></input>
        </div>

      </div>
    </form>

    </div>
    <p style = "color:white; font-size:1.1rem; text-align: center; font-family: 'Special Elite', cursive;"> Make sure you understand any message you sign.</p>

    {% if submitted %}

    <div class="output">
      {% if enc_input and good_input  %}
        <p> The original signed message in this case should be:<br><br>
          {{enc_msg}}
        </p>
        <a href="/home"><button> Okay </button></a>

        {% elif dec_input and good_input %}
        <p> Here is your message after decryption: <br><br>
         
          {{dec_msg}}</p>
        <a href="/home"><button> Okay </button></a>
      {% else %}
        <p >{{err_msg}}</p>
        <a href="javascript:history.go(-1)"><button>Go back</button></a>
      {% endif %}
    </div>
    {% endif %}
  </body>


  <div id="darth" class="output darth" style ="display: none;"  >
    <audio controls  id="audio" style ="display: none;">
      <source src="../static/audio.mp3" type="audio/mpeg">
    </audio>
  <img src="../static/Darth.png" style ="display: block; margin: auto;" width="150" alt="">
    
      <p style ="text-align: justify;"> Hi {{name}}, I'm Darth, I met you yesterday at the car showroom. Hope you remember me.
          In case you are still interested in the offer we talked about then I will need you
          to sign the following for me as soon as possible. I really want you to be who gets
          it but if wait any longer my boss will have it sold to someone else.
          <br>
          <br>
          Document:
          <br>
          <span id="cca-ciphertext">
          1525	2335	928	483	345
          1478	681	871	704	1007
          1585	1180	1300	588	437
          1147	1776	2283	319	283          
          307	1603	703	750	1025
          1525	2335	928	483	345
          1478	681	871	704	1007
          1585	1180	1300	588	437
          1147	1776	2283	319	283          
          307	1603	703	750	1025
        </span>

          <br>
          <br>

         By clicking on <span style="color: yellow">yes</span> you agree to provide Darth with your electronic signature on the document shown.
        
        <br><br>
      </p>
      <div class="button-div">
      <a >
          <button onClick="CCA();" name="CCA" value="Yes">Yes</button>
      </a>

      <a ><button onClick="hide();"> No. </button></a>
    </div>
  </div>


  <div id="hacked" class="output darth" style ="display: none;"  >
    <audio controls  id="audio1" style ="display: none;">
      <source src="../static/audio1.mp3" type="audio/mpeg">
    </audio>
    
    <p id="hack-content">
      <span style="color: yellow; font-size:1.9rem; margin:auto; display:table;">You have been compromised. </span> <br>
      I was interested in knowing the message behind your ciphertext $$C = 8923478932 9873$$
      <br>
      So I first computed<br> $$2^{e}\:mod\:n = 2^{{e}}\:mod\:{{n}} =  2342 $$
      <br>
      and then I took as a chosen ciphertext <br>
       $$ C' = C \times (2^{e} \:mod\:n) = 8923478932 9873\times 234235  =  8927342$$
      <br>
      I asked you to sign this for me, which gives 
      <br>   
      $$C'^{d} \: mod \: n = (C \times 2^{e} )^{d} \: mod \: n =  9832498774239$$ 
      <br>
      then because as well $gcd(2, n) = 1$, we have
      <br>
      $$ M =  2^{-1} \times Y \: mod \: n = 123124 \times 2342312 \: mod \: {{n}} = 1221312$$
      <br>
      {{err_msg}}


    </p>
      <div class="button-div">
          <button onClick="hide_hack();" >Okay.</button>
    </div>
  </div>

</body>



</html>
